# Activa el motor de reescritura
RewriteEngine On
# No permite visualizar los archivos de las carpetas
Options All -Indexes 
# A partir del index podemos navegar entre rutas
RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?views=$1 

